@import './base.css';
@import './fonts.css';

html {
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: 'Pretendard-Regular', sans-serif;
  color: var(--color-dark);
}

:root {
  --color-primary: #864af9;
  --color-secondary: #f8e559;
  --color-secondary2: rgba(248, 229, 89, 0.4);
  --color-accent: #3b3486;
  --color-dark: #100d14;
  --color-semidark: #797979;
  --color-light: #c8c8c8;
  --color-light2: rgba(200, 200, 200, 0.3);
  --color-white: #ffffff;
  --color-income: #0c7acd;
  --color-expense: #cd0c22;
  --color-modal: rgba(0, 0, 0, 0.3);
  --color-hover: linear-gradient(0deg, rgba(121, 121, 121, 0.5) 0%, rgba(121, 121, 121, 0.5) 100%);
  --transition: all 0.3s ease;
}

.titleBold14px {
  font-size: 0.875rem;
  font-weight: 700;
  font-family: 'Pretendard-Bold', sans-serif;
}

.titleBold24px {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Pretendard-Bold', sans-serif;
}

.titleBold30px {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: 'Pretendard-Bold', sans-serif;
}

.bodyRegular16px {
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Pretendard-Regular', sans-serif;
}
.bodySemibold16px {
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Pretendard-SemiBold', sans-serif;
}
.bodyRegular18px {
  font-size: 1.125rem;
  font-weight: 400;
  font-family: 'Pretendard-Regular', sans-serif;
}
.bodySemibold18px {
  font-size: 1.125rem;
  font-weight: 600;
  font-family: 'Pretendard-SemiBold', sans-serif;
}

/* 추후 적응형시 브레이크 포인트 */
@media screen and (max-width: 767px) {
  /** Mobile */
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  /** Tablet  */
}
